*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
*gradlew*
build/
.idea
local.properties
app/src/androidTest
app/src/test
app/src/main/assets/split
